

 

<div class="container">
 

  <app-name></app-name>

  <div>
    <p>Su kien</p>
    <button class="btn btn-primary" (click)="onClickBtn()">{{showStatus ? 'Ẩn ' : 'Hiện'}}  bảng</button>
    <div>
      <label for="input"> Sự kiện cho input</label>
      <input type="text" id ="input" (input) ="onInput ()" >
    </div>
  </div>
  <div>
    Tên SV: <app-name [name]="names"></app-name>
  </div>
  <div>
    MA SV: <app-identity [identity]="identitys"></app-identity>
  </div>
  <h1>Champions LMHT</h1>
   <!-- <app-table  [champions] ="champs" class="{{showStatus ? 'db' : 'dn'}}"></app-table> -->
   <app-table  [champions] ="champs"*ngIf="showStatus"></app-table>
</div>

<router-outlet></router-outlet>
